.allApps {
  background-color: #fff;
  min-height: calc(100vh - 90px);
  padding: 10px 15px;
}

.allApps .headingApp span {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  margin-left: 10px;
}

.allApps .searchBar {
  display: flex;
  /* justify-content: center; */
  margin-top: 18px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.allApps .searchBar input {
  padding: 10px 140px 7px 10px;
  border: 1px solid #f8f8f9;
  border-radius: 10px;
  background: #f8f8f9;
}

.allApps .appsGrid {
  margin-top: 14px;
  display: grid;
  grid-template-columns: 150.5px 150.5px;
  margin-left: 10px;
}
.allApps .appsGrid .appCard {
  cursor: pointer;
  width: 122px;
}

.allApps .appsGrid .appCard .cardImage {
  margin-top: 19px;
  width: 122px;
  height: 70px;
  background: rgba(0, 120, 255, 0.1);
  border-radius: 10px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.allApps .appsGrid .appCard span {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.allApps .appsGrid .appCard p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
